body {
	text-align: center;
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

h1 {
	color: white;
	font-size: 4rem;
	font-family: sans-serif;
}

.calculator {
	display: flex;
	align-items: center;
	justify-content: center;
}

.inputs {
	display: flex;
	flex-flow: column;
}

.numbers {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	align-content: center;
}

button {
	cursor: pointer;
}

.digit {
	padding: 30px;
}
